@CHARSET "ISO-8859-1";

*{
	font-family: Arial;
}

html{
	font-family: Arial;
	font-size: 12px;
	margin: 0px;
	height: 100%;
	width: 100%;
	
    position: relative;
    min-height: 100%;
    
    overflow: hidden;
}

body{
	height: 100%;
	margin: 0px 0px 0px 0px;
	width: 100%;
	background: #000;
}

/*
* Ini Menú Encabezado
*/

.ui-dialog { z-index: 999999 !important ;}

.msj_capaTexto{
	max-height: 400px;
}

nav.topNav {
}

.mainCabeza {
	
	height: 64px;
    background: rgba(133,232,64,0.8);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999999;
    
    -webkit-box-shadow: 0px 0px 5px 1px #000;
	-moz-box-shadow: 0px 0px 5px 1px #000;
	box-shadow: 0px 0px 5px 1px #000;
    
}

.mainCabeza > h1 {
    float: left;
    margin: 4px 0px 0px 11px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0) url(../img/home/logo_56x56.png) 0px 0px no-repeat;
    padding: 14px 0px 19px 62px;
}

.mainCabeza > h1 > a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0px 0px 2px #000;
    font-size: 20px;
    font-weight: normal;
}

.mainCabeza nav {
    float: right;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 64px;
    background-color: rgba(0,127,255,0.80);
}

nav ul li {
	display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 25px 20px 0px 20px;
    color: #FFF;
    height: 39px;
    border-left: solid 1px #FFF;
    
    background-color: rgba(0,127,255,0.0);
    
    -webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

nav ul li:hover {
	background-color: rgba(137, 38, 187, 0.30);
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

nav ul form {
	display: inline;
}

.m_nos{
	background: rgba(0, 0, 0, 0) url(../img/home/m_nos.png) 0px 0px no-repeat;
    padding: 0px 0px 0px 20px;
    text-shadow: 0px 0px 1px #000;
}

.m_adm{
	background: rgba(0, 0, 0, 0) url(../img/home/m_adm.png) 0px 0px no-repeat;
    padding: 0px 0px 0px 20px;
    text-shadow: 0px 0px 1px #000;
}

.m_ubi{
	background: rgba(0, 0, 0, 0) url(../img/home/m_ubi.png) 0px 0px no-repeat;
    padding: 0px 0px 0px 20px;
    text-shadow: 0px 0px 1px #000;
}

.m_con{
	background: rgba(0, 0, 0, 0) url(../img/home/m_con.png) 0px 0px no-repeat;
    padding: 0px 0px 0px 20px;
    text-shadow: 0px 0px 1px #000;
}

.separadorTop{
	clear: both; 
	height: 64px;
	background: #fff;
}

/*
* Fin Menú Encabezado
*/

/*
* Ini Cuerpo
*/
.contenedor-p{
	background: rgba(255,255,255,0);
	height: 100%;
}

.contenedor-p section {
    margin: 0px 0px;
}

.contenedor-p section div {
    margin: 0px 30px;
}

.contenedor-p section span {
	display: block;
}

.contenedor-p section span.listaeventos {    
    border-top: solid 1px #FF7F00;
    border-bottom: solid 1px #FF7F00;
    padding: 0px 0px;
    height: 206px;    
}

.contDataMain{
	
}

.contTbData{
	width: 100%;
	background: transparent url(../img/home/bandaMain.png) left center repeat-x;
	
	bottom: 136px;
    position: absolute;
}

.contTbDataAtr{
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../img/home/bgAtr.png);
	background-position-x: 15px;
	background-position-y: center;
	background-repeat: no-repeat;
    height: 106px;
    width: 100px;
    cursor: pointer;
    
    -webkit-transition: background-position-x 0.5s;
	-moz-transition: background-position-x 0.5s;
	-o-transition: background-position-x 0.5s;
    transition: background-position-x 0.5s;    
}

.contTbDataAtr:hover{
	background-position-x: 3px;
}

.contTbDataDel{
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../img/home/bgDel.png);
	background-position-x: 0px;
	background-position-y: center;
	background-repeat: no-repeat;
    height: 106px;
    width: 100px;
    cursor: pointer;
    
    -webkit-transition: background-position-x 0.5s;
	-moz-transition: background-position-x 0.5s;
	-o-transition: background-position-x 0.5s;
    transition: background-position-x 0.5s;
}

.contTbDataDel:hover{
	background-position-x: 12px;
}

.contTbTxt div{
	font-family: 'Comfortaa', cursive;
	font-size: 46px;
	color: #FFF;
	text-shadow: 1px 1px 6px #000;
}

.contTbTxt div a{
    color: #544D4D;
    text-decoration: underline;
    font-size: 19px;
    display: block;
    text-shadow: 0px 0px 2px #FFF;
    font-weight: bold;
    position: relative;
    top: -7px;
}

div#presentSlider{
	height: 64px;
}

.tbeventos{
	height: 200px;
	width: 100%;
}

.mvAtras, .mvAdela{
	width: 20px;
	height: 200px;
    color: #FFF;
    background: #555;
    cursor: pointer;
    text-align: center;
}

.contenedor-p section span div {
	margin: 0px 0px;
}

.contenedor-p section h2 {
    color: #555;
}

.contenedor-p header h2 {
    font-size: 12px;
    margin: 2px 0px 2px 0px;
}

.cont_encabezado {
    background-color: rgba(255,255,255,0.5);
    height: 67px;
        
    text-shadow: 0px 0px 1px #000;
    
    box-shadow: 0px 0px 3px 0px #000;
    -webkit-box-shadow: 0px 0px 3px 0px #000;
	-moz-box-shadow: 0px 0px 3px 0px #000;
}

.sumInfo li {
    margin: 7px 0px;
    font-family: 'Armata', sans-serif;
    font-size: 13px;
}

.contenedor-p section.cont_encabezado h2 {
    color: #FF7F00;
    margin: 0px;
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
    padding: 23px 16px;
}

.cuerpoPubliInfo{
	background-color: #FFF;
}

.pubInfoData{
	margin: 45px 0px !important;
	padding: 24px 15px;
	background: rgba(255,255,255, 0.65);
	font-size: 130%;
	
	box-shadow: 0px 0px 5px 0px #000;
	-webkit-box-shadow: 0px 0px 5px 0px #000;
	-moz-box-shadow: 0px 0px 5px 0px #000;
}

.pubInfoDataAdmin{
	font-size: 17px;
}

.pubInfoDataAdmin h2.topConimg {
	background-image: url(../img/home/topadmisiones_main.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 93px;
    margin: 0px 0px;
    z-index: -1;
    position: relative;
    padding: 55px 0px 0px 0px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
	font-family: 'Armata', sans-serif;
}

.pubInfoDataAdmin h2.topConimgPei {
	background-image: url(../img/home/topadmisiones.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 93px;
    margin: 0px 0px;
    z-index: -1;
    position: relative;
    padding: 55px 0px 0px 0px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
	font-family: 'Armata', sans-serif;
}

.pubInfoDataAdmin table.tabla {
	background-color: #ff7f00;
	border: solid 3px #FFF400;
	border-collapse: separate;
	border-radius: 10px;
	padding: 10px;
	
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
}

.pubInfoDataAdmin table.tabla th {
    border: solid 1px #fff;
    color: #fff;
    background: #e78f08;
	padding: 10px;
}

.pubInfoDataAdmin table.tabla td {
    border-bottom: solid 1px #fff;
	border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    color: #000;
    padding: 5px;
}

.pubInfoDataAdmin div{
	/**/
}

.adminsep1{
	background-image: url(../img/home/separadorFot1.jpg);
	background-repeat: repeat-x;
    height: 150px;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

.adminninos{
    background-image: url(../img/home/jorpic1.png);
    width: 367px;
    height: 367px;
    float: right;
    position: absolute;
    top: 683px;
    right: 100px;
    background-repeat: no-repeat;
}

.pubMenusCtrlOpc1 {
    width: 100%;
    display: block;
    clear: both;
    margin: 0px;
    height: 24px;
    text-align: center;
    padding: 0px;
}

.pubMenusCtrlOpc1 li {
    list-style-type: none;
    min-width: 100px;
    display: inline-block;
    font-family: 'Armata', sans-serif;
    font-size: 80%;
    cursor: pointer;
    color: #000;
    
    -webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

.pubMenusCtrlOpc1 li:hover {
	color: #ff6d0d;
}

.seleccionCtrl{
	border-bottom: solid 4px #FF7F00;
}

.pubInfoData p{
	margin: 0px;
	font-family: 'Armata', sans-serif;
	font-size: 13px;
}

.pubInfoData td h2 {
    margin: 0px;
    font-family: 'Armata', sans-serif;
    font-size: 20px;
}

.frmContacto input, .frmContacto textarea {
	font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    width: 100%;
	
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
    border: solid 1px #fff;
    padding: 3px 4px;
	
	-webkit-box-shadow: 0px 0px 5px 0px #000;
	-moz-box-shadow: 0px 0px 5px 0px #000;
	box-shadow: 0px 0px 5px 0px #000;
}


.frmContacto {
	font-size: 146%;
    background: rgba(68, 224, 31, 0.64);
    border: solid 3px #FFF;
    width: 80%;
    padding: 5px 28px;
	
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	
	-webkit-box-shadow: 0px 0px 9px 0px #000;
	-moz-box-shadow: 0px 0px 9px 0px #000;
	box-shadow: 0px 0px 9px 0px #000;
}

.frmContacto label {
    font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	color: #fff;
    text-shadow: 0px 0px 1px #000;
}

.frmContacto th, .frmContacto td {
	padding: 8px 0px;
}

/*
* Fin Cuerpo
*/

/*
* Ini Pie
*/

.pieMain {
	border-top: solid 1px #fff;
	background: rgba(0,0,0,0.5);
	
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 59px;
    width: 100%;
    margin: 0px 0px 0px 0px;
	
	text-shadow: 0px 0px 1px #000;
} 

.pieMain section {
    float: left;
    margin: 0px 50px 0px 0px;
}

.pieMain section.primero {
	margin: 9px 0px 0px 19px;
    border-right: solid 1px #fff;
    padding-right: 20px;
}

.pieMain section h2 {
    margin: 20px 0px 2px 0px;
    text-decoration: underline;
    color: #FFF;
}

.pieMain section ul {
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 20px;
}

.pieMain section ul li {
    color: #747474;
    font-size: 11px;
    list-style-type: none;
    margin: 3px 0px;
}

.pieMain section.ultimo {
	margin: 9px 0px 0px 19px;
    border-right: solid 1px #fff;
    padding-right: 20px;
}

.pieinfo {
	font-family: 'Ubuntu', sans-serif;
    margin: 0px 0px;
    color: #FFF;
    font-size: 12px;
}

.logofb_li{
	background: transparent url(../img/home/fb_logo.png) 0px 0px no-repeat;
	width: 16px;
	height: 16px;
	margin: 20px 0px 0px 20px;
	float: left;
}

.logotw_li{
	background: transparent url(../img/home/tw_logo.png) 0px 0px no-repeat;
	width: 16px;
	height: 16px;
	margin: 22px 0px 0px 15px;
	float: left;
}

.ellogo{
	float: right;
}

.logohtml{
	background: transparent url(../img/html5logo.png) 0px 0px no-repeat;
	width: 241px;
    height: 64px;
    float: right;
    margin: 47px 20px 0px 20px;
}

.logodisegno{
    background: rgba(0, 0, 0, 0) url(../img/yab.png) right 0px no-repeat;
    width: 116px;
    height: 19px;
    float: right;
    margin: 16px 18px 0px 0px;
    color: #fff;
    padding: 8px 0px 0px 0px;
}

.ultimaseccion{
	margin: 0px 0px 20px 0px !important;
}

/*
* Fin Pie
*/

/*
* Ini SlideBack
*/

.slideInterac{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    z-index: -999;
}

/*
* Fin SlideBack
*/


/*
 Ini Especiales
*/
.nosotros_img {
	background-image: url(../img/home/OrgPic1.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	
	width: 520px;
	height: 274px; 
}

.ninos_img {
	background-image: url(../img/home/los_ninos.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	
	width: 299px;
	height: 284px; 
}

.metodolog_img {
	background-image: url(../img/home/metodologia.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	
	width: 408px;
	height: 308px; 
}

.potencial_img {
	background-image: url(../img/home/informatica.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;
	
	width: 408px;
	height: 308px;
}

/*
 Fin Especiales
*/
